.content-block-container {
  position: relative;
  width: 100vw; /* take up full viewport width */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;
}

.content-block-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

/* NEW: Make all direct children of the column fill the width */
.content-block-column > * {
  width: 100%;
}

.content-block-container.align-top .ant-row {
  align-items: flex-start !important;
}